* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background: gray;
}


/* [ MAP ] */
main {
  margin: 100px auto;
  overflow: hidden;
  display: block;
  width: 1600px;
  height: 800px;
}

section {
  position: relative;
  background: whitesmoke;
  width: 1600px;
  height: 2050px;
}


/* [ USER ] */
.user {
  background: url(img/user.png);
  /* border: 1px solid yellow; */
  background-size: cover;
  margin: 150px 0 0 200px;
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  z-index: 3;
  /* z-index: 1; */
}

#health {
  border: 1px solid green;
  margin: -15px 0 0 -1px;
  position: absolute;
  display: none;
  width: 100px;
  height: 10px;
}

#scale {
  background: greenyellow;
  width: 100px;
  height: 10px;
}


/* [ WALL ] */
.wall {
  /* border: 1px solid gray; */
  background: url(img/box.png);
  background-size: cover;
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 2;
}

/* [ TSET ] */
.test {
  position: absolute;
	width: 70px;
	height: 35px;
  z-index: 4;
	transform: skew(-40deg);
	background: rgba(255, 0, 0, 0);
}



/* [ BULLET ] */
.bullet {
  width: 2px;
  height: 2px;
  z-index: 1;
  position: absolute;
  background: red;
}







