* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background: gray;
}


/* [ MAP ] */
main {
  margin: 100px auto;
  overflow: hidden;
  display: block;
  width: 1600px;
  height: 800px;
}

section {
  position: relative;
  background: whitesmoke;
  width: 1600px;
  height: 1050px;
}


/* [ USER ] */
.user, .enemy {
  background: url(img/user.png);
  background-size: cover;
  margin: 150px 0 0 200px;
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  z-index: 4;
}

.enemy {
  z-index: 3;
}

.health {
  border: 1px solid gray;
  margin: -6px 0 0 -5px;
  position: absolute;
  display: none;
  transform: rotate(-20deg);
  width: 100px;
  height: 10px;
}

.scale {
  background: greenyellow;
  width: 100px;
  height: 10px;
}


/* [ WALL ] */
.wall {
  background: url(img/box.png);
  background-size: cover;
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 2;
}


/* [ ACCOUTREMENT ] */
.medic, .ammo {
  z-index: 4;
  position: absolute;
  background-size: cover;
  width: 100px;
  height: 100px;
}


/* [ BOTTOM ] */
.bottom {
  position: absolute;
	width: 70px;
	height: 35px;
  z-index: 5;
	transform: skew(-40deg);
  /* background: rgba(0, 0, 0, 0); */
}


/* [ BULLET ] */
.bullet {
  width: 2px;
  height: 2px;
  z-index: 1;
  position: absolute;
  background: red;
}







